* text=auto
*.md text eol=lf
*.py text eol=lf
*.toml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.csv text eol=lf
*.cff text eol=lf
*.safetensors binary
*.docx binary
*.pdf binary
